.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .about {
    .ulist {
      display: flex;
      font-family: map-get($fonts-family, raleway);
      font-size: map-get($fonts-size, header);

      .ulist-1 {
        color: map-get($colors, _purple);
        font-weight: bold;
      }

      .ulist-n {
        margin-left: 20px;
      }

      a {
        cursor: pointer;
        transition: all 0.5s ease;
      }

      :hover {
        text-decoration: underline;
        color: map-get($colors, _light-green);
      }
    }
  }
}
