@font-face {
    font-family: 'Beth Ellen';
    src: url('BethEllen-Regular.woff2') format('woff2'),
        url('BethEllen-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

